<html>
   <head>
      <style>
         body {
           background-color: rgb(242, 237, 243);
         }
         
         
         h2 {
           font-size: 70px;   
           color: rgb(15, 12, 11);
           text-align: center;
            }
         </style>
   </head>
      <h2>Select Image</h2>
      </center>
   <body>
      <center>
      <form enctype = "multipart/form-data" action = "prediction" method = "post">
      <p>File: <input type = "file" name = "img" /></p>
      <p><input type = "submit" name = "Upload" ,value='Predict'/></p>
   </form>
    </center>
   </body>
</html>